<launch>
  
  <arg name="meshIntopic" default="/frame_meshs"/>
  <arg name="meshtestclouds" default="/test_clouds"/>
  <arg name="lidarFrame" default="lidar_sensor_VLP16"/>
  <arg name="baselinkFrame" default="base_link"/>
  

  <!-- Launch the husky goal package -->
  <node pkg="mesh_navigation" type="mesh_navigation_Navigation" name="husky_mesh_navigation" output="screen" >
    <param name="mesh_in_topic" type="string" value="$(arg meshIntopic)" />
    <param name="map_test_clouds" type="string" value="$(arg meshtestclouds)" />     
    <param name="lidarFrame" type="string" value="$(arg lidarFrame)" />
    <param name="baselinkFrame" type="string" value="$(arg baselinkFrame)" />   
  </node>


</launch>